li {
  position: relative;
  margin-left: 20px;
  padding: 5px;
  cursor: pointer;
}

.child {
  z-index: 2;
  display: none;
}
.visiable {
  display: list-item;
}
.parent {
  z-index: 3;
  display: block;
}
